.slider {
  height: 25em;
  width: 100%;
  margin: 0;
  text-align: center;
  background-color: #8BC34A;
  @include clearfix; 
  .banner {
    text-align: center;
    color: #FFF;
    margin: 0;
    padding: 0;
    width: 100%;
    ul {
      @include clearfix;
      list-style-type: none;
      position: relative;
      overflow: hidden;
      margin: -2em 0 0 -2.5em;
      width: 100%;
      li {
        text-align: center;
        width: 100%;
        height: 27em;;
        margin: 2em 0;
        overflow: hidden;
      }
      .sld1 {
        background-color: #29B6F6;
      }
      .sld2 {
        background-color: #26C6DA;
      }
      .sld3 {
        background-color: #26A69A;
      }
      .sld4 {
        background-color: #CDDC39;
      }
    }
  }
}